{% extends "base.html" %}
{% block content %}
  <section class="relative w-full h-screen overflow-hidden mt-8">
    <div class="relative flex justify-center items-center h-full">
      <div class="bg-white rounded-3xl shadow-lg p-8 w-3/4 max-w-screen-md">
        <h1 class="text-4xl font-bold text-center mb-12">Want more content?</h1>
        <div class="flex justify-between space-x-8">
          <div class="w-1/2">
            <h2 class="text-2xl font-semibold mb-2">Basic</h2>
            <p class="text-4xl font-bold mb-2">Free</p>
            {% if request.user.is_authenticated and request.user.tier == "free" %}
              <p class="text-gray-500 mb-6">You're currently on this plan</p>
            {% endif %}
            <p class="font-medium mb-4">Features include:</p>
            <ul class="space-y-2">
              <li class="flex items-center">
                <i class="fas fa-check text-green-500 mr-2"></i>
                <span class="text-gray-600">One subscription</span>
              </li>
              <li class="flex items-center">
                <i class="fas fa-check text-green-500 mr-2"></i>
                <span class="text-gray-600">News delivered to your inbox</span>
              </li>
              <li class="flex items-center">
                <i class="fas fa-check text-green-500 mr-2"></i>
                <span class="text-gray-600">Personalized dashboard</span>
              </li>
            </ul>
          </div>
          <div class="w-1/2 bg-brown-50 rounded-lg p-6 relative">
            <span class="absolute top-0 right-0 bg-[#A7F3D0] text-green-800 text-xs font-semibold px-3 py-1 rounded-bl-lg rounded-tr-lg">Most Popular</span>
            <h2 class="text-2xl font-semibold mb-2">Pro</h2>
            <p class="text-4xl font-bold mb-2">
              $29<span class="text-lg font-normal">/mo</span>
            </p>
            <p class="font-medium mb-4">Unlimited access</p>
            <p class="font-medium mb-4">All free features, plus:</p>
            <ul class="space-y-2 mb-6">
              <li class="flex items-center">
                <i class="fas fa-check text-green-500 mr-2"></i>
                <span>Unlimited access to topics</span>
              </li>
              <li class="flex items-center">
                <i class="fas fa-check text-green-500 mr-2"></i>
                <span>Unlimited subscriptions</span>
              </li>
            </ul>
            {% if request.user.is_authenticated %}
              {% if request.user.tier == 'free' %}
                <a href="{% url 'stripe_checkout' %}"
                   class="w-3/4 bg-brown-500 hover:bg-brown-600 text-black font-semibold py-3 rounded-lg transition duration-300 block text-center">
                  Upgrade to pro
                </a>
              {% else %}
                <p class="text-center text-gray-500">You're already on the Pro plan</p>
              {% endif %}
            {% else %}
              <button hx-get="{% url 'account_signup' %}"
                      hx-target="body"
                      hx-push-url="true"
                      class="w-full bg-brown-500 hover:bg-brown-600 text-black font-semibold py-3 rounded-lg transition duration-300">
                Get started
              </button>
            {% endif %}
          </div>
        </div>
        {% if request.user.is_authenticated and request.user.tier == "free" and dashboard %}
          <a href="{% url 'dashboard' %}"
             class="block mt-5 text-center underline decoration-red-500 text-gray-600 hover:text-gray-900">Skip for now</a>
        {% endif %}
      </div>
    </div>
    <!-- Wavy SVG Background -->
    <div class="fixed bottom-0 w-full h-11/12 -z-10">
      <svg class="w-full h-full"
           viewBox="0 0 1440 464"
           fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M864 160C688.291 241.356 563.242 55.5988 282 96.5C203.734 119.405 162.635 147.912 97.5 233.5C42.1525 319.506 7.60938 369.622 -15.5 460C36.1 537.2 837.833 575.5 1223.5 585L1444 460V56.5C1448 43 1362.56 -8.87052 1270.5 1.49996C1178.44 11.8704 1039.71 78.6435 864 160Z" fill="#FFEDD5" />
      </svg>
    </div>
  </section>
{% endblock content %}
