{% extends "base.html" %}
{% block content %}
<!-- Content area -->
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">            
        <main class="grow">
            <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
                <!-- Page header -->
                <div class="pl-40 mb-4">
                    <!-- Title -->
                    <h1 class="text-2xl md:text-3xl text-black font-bold mb-8">Account Settings</h1>
                    <div class="flex items-center space-x-4">
                        {% if request.user.tier == "individual" %}
                            <h2 class="text-2xl text-black font-bold">Current Plan: Individual</h2>
                        {% else %}
                            <h2 class="text-2xl text-black font-bold">Current Plan: Team</h2>
                        {% endif %}
                    </div>
                </div>

                <div class="shadow-sm rounded-xl mb-4">
                    <div class="flex flex-col md:flex-row md:-mr-px">
                        <!-- Panel -->
                        <div class="grow">
                            <form action="{% url 'edit_account' %}" method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                {% include "partials/form_errors.html" %}
                            {% endif %}
                                <!-- Panel body -->
                                <div class="pb-6 pl-40 space-y-6">
                                    <!-- Profile -->
                                    <section>
                                        <h3 class="text-xl leading-snug text-black font-bold mb-1">Profile</h3>
                                        <div class="sm:flex sm:items-center space-y-4 sm:space-y-0 sm:space-x-4 mt-5">
                                            <div class="sm:w-1/3">
                                                <label class="block text-sm font-medium mb-1" for="name">First Name</label>
                                                <input id="first_name" name="first_name" class="form-input w-full" type="text" value="{{ request.user.first_name }}" />
                                            </div>
                                            <div class="sm:w-1/3">
                                                <label class="block text-sm font-medium mb-1" for="business-id">Last Name</label>
                                                <input id="last_name" name="last_name" class="form-input w-full" type="text" value="{{ request.user.last_name }}" />
                                            </div>
                                        </div>
                                    </section>

                                    <!-- Email -->
                                    <section>
                                        <h3 class="text-xl leading-snug text-black font-bold mb-1">Email</h3>
                                        <div class="flex flex-wrap mt-5">
                                            <div class="mr-2 w-1/3">
                                                <label class="sr-only" for="email">Email</label>
                                                <input id="email" name="email" class="form-input w-full" type="email" value="{{ request.user.email }}" />
                                            </div>
                                        </div>
                                    </section>

                                    <!-- Password -->
                                    <section>
                                        <h3 class="text-xl leading-snug text-black font-bold mb-1">Password</h3>
                                        <div class="mt-5">
                                            <a href="{% url 'account_change_password' %}">
                                                <button class="btn bg-white text-black border-gray-200 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600">Set New Password</button>
                                            </a>
                                        </div>
                                    </section>

                                    <!-- Token -->
                                    <section>
                                        <h3 class="text-xl leading-snug text-black font-bold mb-1">Token</h3>
                                        <div class="flex flex-wrap mt-5">
                                            <div class="mr-2 w-1/3">
                                                <label class="sr-only" for="token">Token</label>
                                                <input id="token" name="token" class="form-input w-full" type="text" value="{{ request.user.token }}" readonly />
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <!-- Panel footer -->
                                <footer>
                                    <div class="flex flex-col px-6 py-5">
                                        <div class="flex self-end">
                                            <a href="{% url 'home' %}">
                                                <button class="btn bg-white text-black dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600">Cancel</button>
                                            </a>
                                            <input type="submit"
                                                value="Save Changes"
                                                class="btn bg-brown-500 hover:bg-brown-600 shadow ml-3" />
                                        </div>
                                    </div>
                                </footer>
                            </form>

                            <!-- Invite Team Member Form -->
                            {% if request.user.tier == "team" and request.user.team.owner == request.user %}
                                <form action="{% url 'invite_team_member' %}" method="post">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        {% include "partials/form_errors.html" %}
                                    {% endif %}
                                    <!-- Panel body -->
                                    <div class="pb-6 pl-40 space-y-6">
                                        <!-- Invite Team Member -->
                                        <section>
                                            <h3 class="text-xl leading-snug text-black font-bold mb-1">Invite Team Member</h3>
                                            <div class="flex flex-wrap mt-5">
                                                <div class="mr-2 w-1/3">
                                                    <label class="sr-only" for="invite_email">Email</label>
                                                    <input id="invite_email" name="email" class="form-input w-full" type="email" placeholder="Enter team member's email" />
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <!-- Panel footer -->
                                    <footer>
                                        <div class="flex flex-col px-6 py-5">
                                            <div class="flex self-end">
                                                <input type="submit" value="Invite Team Member" class="btn bg-brown-500 hover:bg-brown-600 shadow ml-3" />
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Wavy SVG Background -->
    <div class="fixed bottom-0 w-full h-11/12 -z-10">
        <svg class="w-full h-full"
             viewBox="0 0 1440 464"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M864 160C688.291 241.356 563.242 55.5988 282 96.5C203.734 119.405 162.635 147.912 97.5 233.5C42.1525 319.506 7.60938 369.622 -15.5 460C36.1 537.2 837.833 575.5 1223.5 585L1444 460V56.5C1448 43 1362.56 -8.87052 1270.5 1.49996C1178.44 11.8704 1039.71 78.6435 864 160Z" fill="#FFEDD5" />
        </svg>
    </div>
    <script>
        const isNumericInput = (event) => {
            const key = event.keyCode;
            return ((key >= 48 && key <= 57) || // Allow number line
                (key >= 96 && key <= 105) // Allow number pad
            );
        };
        
        const isModifierKey = (event) => {
            const key = event.keyCode;
            return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
                (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
                (key > 36 && key < 41) || // Allow left, up, right, down
                (
                    // Allow Ctrl/Command + A,C,V,X,Z
                    (event.ctrlKey === true || event.metaKey === true) &&
                    (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
                )
        };
        
        const enforceFormat = (event) => {
            // Input must be of a valid number format or a modifier key, and not longer than ten digits
            if(!isNumericInput(event) && !isModifierKey(event)){
                event.preventDefault();
            }
        };
        
        const formatToPhone = (event) => {
            if(isModifierKey(event)) {return;}
        
            const input = event.target.value.replace(/\D/g,'').substring(0,10); // First ten digits of input only
            const areaCode = input.substring(0,3);
            const middle = input.substring(3,6);
            const last = input.substring(6,10);
        
            if(input.length > 6){event.target.value = `(${areaCode}) ${middle} - ${last}`;}
            else if(input.length > 3){event.target.value = `(${areaCode}) ${middle}`;}
            else if(input.length > 0){event.target.value = `(${areaCode}`;}
        };
        
        const inputElement = document.getElementById('phone');
        inputElement.addEventListener('keydown',enforceFormat);
        inputElement.addEventListener('keyup',formatToPhone);
    </script>
{% endblock content %}
