{% extends "base.html" %}
{% block content %}
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
      <h1 class="text-center text-2xl font-bold text-brown-500 sm:text-3xl">Change Password</h1>
      <form id="resetForm"
            action="{% url 'account_change_password' %}"
            method="post"
            class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
        {% csrf_token %}
        {% if form.errors %}
          {% include "partials/form_errors.html" %}
        {% endif %}
        <p class="text-center text-lg font-medium">Change your password</p>
        <div>
          <label for="id_oldpassword" class="sr-only">Old Password</label>
          <div class="relative">
            <input type="password"
                   class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                   name="oldpassword"
                   placeholder="Current Password"
                   autocomplete="current-password"
                   required=""
                   id="id_oldpassword" />
          </div>
        </div>
        <div>
          <label for="id_password1" class="sr-only">Password 1</label>
          <div class="relative">
            <input type="password"
                   name="password1"
                   placeholder="New Password"
                   autocomplete="new-password"
                   required=""
                   id="id_password1"
                   class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm">
          </div>
        </div>
        <div>
          <label for="id_password2" class="sr-only">Password 2</label>
          <div class="relative">
            <input type="password"
                   name="password2"
                   placeholder="New Password (again)"
                   required=""
                   id="id_password2"
                   class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm">
          </div>
        </div>
        <input type="submit"
               value="Change My Password"
               class="block w-full rounded-lg bg-brown-500 px-5 py-3 text-sm font-medium" />
      </form>
    </div>
  </div>
{% endblock content %}
