{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <h1 class="text-4xl font-bold">Set Password</h1>
            
            <form method="post" action="{% url 'account_set_password' %}" class="space-y-6">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                
                <div class="space-y-2">
                    <label for="id_password1" class="block text-sm font-medium text-gray-700">
                        {{ form.password1.label }}
                    </label>
                    <input type="password" 
                           name="password1" 
                           placeholder="Password" 
                           autocomplete="new-password" 
                           required 
                           aria-describedby="id_password1_helptext" 
                           id="id_password1"
                           class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    
                
                    {% if form.password1.errors %}
                    <span class="text-red-600 text-sm">
                        {% for error in form.password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>

                <div class="space-y-2">
                    <label for="id_password2" class="block text-sm font-medium text-gray-700">
                        {{ form.password2.label }}
                    </label>
                    <input type="password" 
                           name="password2" 
                           placeholder="Password (again)" 
                           required 
                           id="id_password2"
                           class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                    
                    {% if form.password2.errors %}
                    <span class="text-red-600 text-sm">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>

                {% if form.non_field_errors %}
                <div class="text-red-600 text-sm">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                <button
                    name="action"
                    type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    
                    Set Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}